#root {
  max-width: 1280px;
  margin: 0 auto;
}
.travelplaner{
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 101, 97);
  padding: 2rem;
  color: whitesmoke;
  text-shadow: 1px 0.5px black;
  max-width: 600px;
  border-radius: 2px;
  box-shadow: 2px 2px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
}
.button-departures{
  margin: 1rem;
}

